<template>
  <div>
    <section class="pb-8 pt-8 text-center">
      <h1 class="text-white text-5xl mb-1 font-header">
        Apps für {{ clientsForPlatform.name }}
      </h1>
      <p class="text-white text-xl font-text">
        {{ clientsForPlatform.text }}
      </p>
    </section>
    <section class="sm:mr-64 sm:ml-64">
      <div class="flex flex-col sm:flex-row flex-wrap justify-center">
        <div
          v-for="client in clientsForPlatform.clients"
          :key="client.downloadUrl"
          class="p-2 pt-0"
        >
          <client-box
            :name="client.name"
            :text="client.text"
            :imageUrl="client.imageUrl"
            :downloadUrl="client.download"
            class="h-full"
          />
        </div>
      </div>
      <p class="text-center text-center mt-4 text-white">
        ⚠️ Denk daran im Client deiner Wahl den Matrix-Server auf
        <span class="p-1 text-fff-green-dark bg-white">fff.chat</span> (manchmal
        auf
        <span class="p-1 text-fff-green-dark bg-white">matrix.fff.chat</span>)
        einzustellen! ⚠️
      </p>
    </section>
  </div>
</template>

<script>
import clientBox from "@/components/clientBox";
import clientsData from "@/assets/clients.json";

export default {
  components: { clientBox },

  props: {
    id: String,
  },
  computed: {
    platform() {
      return this.$route.params.id;
    },
    clientsForPlatform() {
      return clientsData[this.platform];
    },
  },
};
</script>

