<template>
  <figure class="bg-white rounded-md p-8 w-full sm:w-64 text-center transition duration-100 ease-in-out transform hover:scale-110">
    <a :href="downloadUrl" class="flex flex-col">
      <img :alt="name + 'logo'" :src="imageUrl" class="rounded-md justify-center" />
      <h2 class="font-bold text-xl pt-1 font-header">{{ name }}</h2>
      <small class="font-text">
        {{ text }}
      </small>
    </a>
  </figure>
</template>

<script>
export default {
  name: "client-box",
  props: {
    name: String,
    text: String,
    imageUrl: String,
    downloadUrl: String,
  },
};
</script>

