<template>
  <div class="md:w-4/12 text-white md:text-black p-2 text-center">
    <div class="rounded-lg md:bg-white p-3 h-full">
      <fa :icon="icon" class="mb-2 h-16 text-6xl animate-spin-once" />
      <h3 class="text-xl font-semibold font-header text-fff-blue md:text-black">{{ title }}</h3>
      <p class="font-text">{{ text }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "client-box",
  props: {
    title: String,
    text: String,
    icon: String,
  },
};
</script>

