<template>
  <div
    style=""
    class="bg-container bg-fff-green-dark to-fff-green-dark min-h-screen md:bg-earth md:bg-fff-green-dark bg-no-repeat bg-fixed"
  >
    <div style="min-height: 95vh" class="mb-4">
      <Nuxt />
    </div>
    <div class="text-center">
      <p>
        <a
          class="text-fff-blue"
          href="https://gitlab.com/niwla2305/fff-matrix-website"
        >
          Quellcode
        </a>
        |
        <a class="text-fff-blue" href="https://fridaysforfuture.de/impressum/">Impressum</a>
        |
        <nuxt-link class="text-fff-blue" to="privacy">Datenschutzerklärung & Nutzungsbedingungen</nuxt-link>
        |
        <nuxt-link class="text-fff-blue" to="licenses">Lizenzen</nuxt-link>
      </p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
.bg-container {
  scroll-behavior: smooth;
  background-position: 60% 30%;
  background-attachment: fixed;
  background-size: 140%;
}

@font-face {
  font-family: Jost-600;
  src: url(/fonts/Jost-600-Semi.ttf);
}

@font-face {
  font-family: Jost-400;
  src: url(/fonts/Jost-400-Book.ttf);
}
</style>
