<template>
  <div>
    <section class="pb-8 pt-8 text-center">
      <h1 class="text-white text-5xl mb-1 font-header">FFF Matrix</h1>
      <p class="text-white text-xl font-text">Freie Kommunikation</p>
    </section>
    <section class="pb-8 lg:mr-64 lg:ml-64 mt-8">
      <div class="m-2 bg-blue-500 pb-10 pt-10 pl-4 pr-4 text-center rounded-lg">
        <a href="https://element.fff.chat">
          <button
            class="bg-white p-2 rounded-md transition duration-100 ease-in-out transform hover:scale-110"
          >
            Direkt loslegen
          </button>
        </a>
        <p id="selectPlatform" class="text-white font-text mt-4">
          Oder suche dir selber eine App aus.
        </p>
        <div class="m-4">
          <nuxt-link :to="'clients/android'">
            <button
              class="bg-white p-2 rounded-md transition duration-100 ease-in-out transform hover:scale-110"
            >
              Android
            </button>
          </nuxt-link>
          <nuxt-link :to="'clients/ios'">
            <button
              class="bg-white p-2 rounded-md transition duration-100 ease-in-out transform hover:scale-110"
            >
              IPhone
            </button>
          </nuxt-link>
        </div>
        <div class="m-4">
          <nuxt-link :to="'clients/windows'">
            <button
              class="bg-white p-2 rounded-md transition duration-100 ease-in-out transform hover:scale-110"
            >
              Windows
            </button>
          </nuxt-link>
          <nuxt-link :to="'clients/linux'">
            <button
              class="bg-white p-2 rounded-md transition duration-100 ease-in-out transform hover:scale-110"
            >
              Linux
            </button>
          </nuxt-link>
          <nuxt-link :to="'clients/macos'">
            <button
              class="bg-white p-2 rounded-md transition duration-100 ease-in-out transform hover:scale-110"
            >
              MacOS
            </button>
          </nuxt-link>
          <nuxt-link :to="'clients/web'">
            <button
              class="bg-white p-2 rounded-md transition duration-100 ease-in-out transform hover:scale-110"
            >
              Web
            </button>
          </nuxt-link>
        </div>
      </div>
    </section>
    <section class="lg:mr-64 lg:ml-64">
      <h1 class="text-white text-3xl mb-1 text-center font-header">
        Was ist Matrix?
      </h1>
      <div class="flex flex-col md:flex-row mt-2 flex-wrap justify-center">
        <why-matrix-item
          title="Dezentral"
          icon="network-wired"
          text="Es gibt nicht 'den einen' Matrix Server. Das Netzwerk ist verteilt
              über viele Server, die untereinander kompatibel sind. Dieser hier
              ist einer davon"
        />
        <why-matrix-item
          title="Sicherheit"
          icon="shield-alt"
          text="Es besteht die Möglichkeit Ende zu Ende Verschlüsselung zu aktivieren."
        />
        <why-matrix-item
          title="Mehrere Geräte"
          icon="mobile-alt"
          text="Matrix erlaubt sowohl verschlüsselte als auch unverschlüsselte Chats auf beliebig vielen Geräten gleichzeitig zu nutzen."
        />
        <why-matrix-item
          title="Freiheit"
          icon="dove"
          text="Es ist jedem / jeder Nutzer*in überlassen, welche App und welchen Server er / sie nutzt."
        />
        <why-matrix-item
          title="Riesige Gruppen"
          icon="users"
          text="Anders als bei vielen anderen Messengern können Gruppen unendlich viele Mitglieder haben!"
        />
        <why-matrix-item
          title="Offen"
          icon="code"
          text="Wir nutzen (wie fast das gesamte Matrix Netzwerk) auschließlich
              quelloffene Software. So kann sie von jedem auf
              Sicherheitsprobleme überprüft oder verbessert werden."
        />
        <why-matrix-item
          title="Private- und Gruppenchats"
          icon="user-secret"
          text="Es ist sowohl möglich private Chats zu erstellen, als auch riesige Gruppen"
        />
        <why-matrix-item
          title="Kompatibel"
          icon="compass"
          text="Alle Matrix Clients und Server sind untereinander kompatibel und du kannst jederzeit eine andere App nutzen."
        />
        <why-matrix-item
          title="Bridges"
          icon="tools"
          text="Durch sogenannte Bridges können Gruppen von Telegram, Discord u.v.m. mit Matrix synchronisiert werden."
        />
      </div>
    </section>
  </div>
</template>

<script>
import whyMatrixItem from "~/components/whyMatrixItem.vue";
// import { fas } from "@fontawesome/free-solid-svg-icons";

export default {
  components: { whyMatrixItem },
};
</script>

<style>
</style>
