<template>
  <div class="pb-8 pt-8 text-center">
    <h1 class="text-white text-5xl mb-1 font-header">Lizenzen</h1>
    <!-- {{ modules }} -->
    <ul>
      <li v-for="dep in Object.keys(modules)" :key="dep">
        <a class="text-fff-blue underline" :href="modules[dep].repository"
          >{{ dep }} ({{ modules[dep].licenses }})</a
        >
      </li>
    </ul>
    <button
      class="bg-fff-green-light p-2 text-white mt-2"
      @click="goBack"
    >
      Zurück
    </button>
  </div>
</template>

<script>
import licensesData from "@/assets/licenses.json";

export default {
  computed: {
    modules() {
      return licensesData;
    },
  },

  methods: {
    goBack() {
      this.$router.go(-1);
    },
  },

  mounted() {
    console.log(licensesData);
  },
};
</script>

