<template>
  <div class="md:p-32 md:pt-8">
    <h1
      class="text-3xl text-white text-center pb-8"
      id="Nutzungsbedingungen-und-Datenschutzerklärung"
    >
      Nutzungsbedingungen und Datenschutzerklärung
    </h1>
    <div id="doc" class="bg-white rounded-lg p-4">
      <h2 class="text-2xl" id="Nutzungsbedingungen">Nutzungsbedingungen</h2>
      <p>
        “Matrix” ist ein offener, dezentraler Kommunikationsdienst für die
        Echtzeitkommunikation. Es wird den Mitgliedern und Angehörigen von
        Fridays For Future unter Einhaltung der einschlägigen gesetzlichen und
        rechtlichen Bestimmungen zum Datenschutz und zur IT-Sicherheit
        ermöglicht, mittels ihres Cloud-Accounts mit Angehörigen dieser und
        anderern Matrix-Nutzenden per Chat sowie Audio-/Video-Telefonie zu
        kommunizieren.
      </p>
      <p>
        Die Kommunikation erfolgt mit unserem angebotenen Client
        <a href="https://element.fff.chat" target="_blank" rel="noopener"
          >https://element.fff.chat</a
        >
        standardmäßig Ende-zu-Ende verschlüsselt. Der Kommunikation mit dem
        Matrix-Server ist zusätzlich transportverschlüsselt (HTTPS). Beim ersten
        Anmeldevorgang müssen dazu Schlüssel (public/private key) erzeugt
        werden, von denen du eine Sicherung auf deinem PC speichern solltest.
        Bitte schütze diese Sicherung vor fremden Zugriffen. Wir haben keinen
        Zugriff auf diese Schlüssel. Solltest du den Schlüssel verlieren, kannst
        du nicht mehr auf deine alten Nachrichten zugreifen.
      </p>
      <p>
        Du darfst keine gegen gesetzliche Bestimmungen verstoßenden,
        pornographischen, obszönen, diffamierenden, verleumderischen,
        beleidigenden, bedrohenden, volksverhetzenden oder rassistischen Inhalte
        über diesen Dienst verbreiten. Auch das Einstellen von Werbung jedweder
        Art und die Benutzung des Dienstes für gewerbliche Zwecke sowie die
        Übermittlung von Informationen, welche einen Virus, einen Fehler,
        Manipulationen oder ähnliche schädigende Elemente enthalten, ist
        untersagt. Bei Missbrauch kann dein Account gesperrt werden und ggf.
        eine Strafverfolgung in die Wege geleitet werden.
      </p>
      <br />
      <br />
      <h2 class="text-2xl" id="Datenschutzerklärung">Datenschutzerklärung</h2>
      <h3 class="text-xl" id="Allgemein">Allgemein</h3>
      <p>
        Das Wichtigste zuerst: Es findet keine Zusammenführung jeglicher Daten,
        die auf fff.chat und den Subdomains anfallen mit Datenquellen Dritter
        statt. Wir verarbeiten angefallende Daten nur zum Zwecke der Optimierung
        des angebotenen Matrix-Dienstes. Das bedeutet, dass z. B. Log-Dateien
        untersucht werden, wenn der Servers ungewöhnlich belastet wird.
      </p>
      <p>
        Wir speichern beim Besuch von fff.chat und aller Subdomains
        Server-Log-Dateien. Dabei handelt es sich um die IP-Adresse, die
        aufgerufene URL und Datum und Uhrzeit der Serveranfrage.
      </p>
      <br />
      <h3
        class="text-xl"
        id="Wer-ist-für-die-Datenverarbeitung-verantwortlich-und-an-wen-können-sich-betroffene-wenden"
      >
        Wer ist für die Datenverarbeitung verantwortlich und an wen können sich
        betroffene wenden?
      </h3>
      <h4 class="text-lg" id="Verantwortlicher">Verantwortlicher</h4>
      <p>i.S.d. Art. 4 Nr. 7 DSGVO ist Fridays For Future.</p>
      <h4 class="text-lg" id="Ansprechpartner-und-Datenschutzbeauftragter">
        Ansprechpartner und Datenschutzbeauftragter
      </h4>
      <p>Benedict, erreichbar bei Matrix: @benedict:fff.chat</p>
      <br />
      <h3 class="text-xl" id="Externes-Hosting">Externes Hosting</h3>
      <p>
        Der Server wird bei einem externen Dienstleister gehostet.
        Dementsprechend werden anfallende Daten dort gespeichert:
      </p>
      <p>
        Hetzner Online GmbH<br />
        Industriestr. 25<br />
        91710 Gunzenhausen<br />
        Deutschland
      </p>
      <br />
      <h3
        class="text-xl"
        id="Welche-personenbezogenen-Daten-werden-verarbeitet"
      >
        Welche personenbezogenen Daten werden verarbeitet?
      </h3>
      <p>
        Durch die Registrierung bei Matrix (beim erstmaligen Anmeldevorgang)
        werden Teile der beim Cloud-Account gespeicherten Daten verarbeitet.
        Dabei handelt es sich um den Nutzernamen und die E-Mail-Adresse. Diese
        werden jedoch nur für den Vorschlag eines Nutzernamens bei Matrix
        genutzt und danach nicht weiter verwendet.
      </p>
      <p>
        Vom Beginn des erstmaligen Anmeldevorgangs an werden die von dir
        eingegebenen Daten und die mit deiner Nutzung des Dienstes automatisch
        anfallenden Daten verarbeitet. Dazu gehören:
      </p>
      <ol>
        <li>
          E-Mail-Adresse (optional), Anzeigename, Nutzerbild (optional) und
          Matrix-ID. Den Anzeigenamen und das Nutzerbild kann man jederzeit
          ändern. Die Matrix-ID kann bei der Registirerung frei und anonym
          gewählt werden.
        </li>
        <li>
          Sofortnachrichten: Inhalt, Zeitpunkt, Absender und Empfänger. Der
          Inhalt kann sowohl Text als auch eine Datei sein. Wenn die Nachrichten
          in einem Raum Ende-zu-Ende verschlüsselt sind, wird nur der
          verschlüsselte Inhalt gespeichert. Dieser kann von uns nicht
          entschlüsselt werden.
        </li>
        <li>
          Tipp-Benachrichtigungen: Andere Nutzende im Raum sehen, dass Sie
          gerade eine Nachricht tippen. Diese Funktion kann (je nach Client) in
          den Einstellungen deaktiviert werden.
        </li>
        <li>
          Lesebestätigungen und Anwesenheiten: Andere Personen im Raum können
          sehen, wer wann zuletzt eine Nachricht gelesen hat oder welche Person
          gerade online ist. Der Client kann möglicherweise so eingestellt
          werden, dass die eigene Lesebestätigungen und Anwesenheit nicht an den
          Homeserver übermittelt werden.
        </li>
        <li>
          Audio-/Video-Telefonie: Zeitpunkt, Absender und Empfänger. Zwischen
          zwei Gesprächspartnern werden Bild und Ton Ende-zu-Ende verschlüsselt,
          wenn auch der Raum verschlüsselt ist. Bei mehr als zwei
          Gesprächspartnern wird ein anderer Dienst als Matrix verwendet. Es wir
          dafür Jitsi (<a
            href="https://meet.fffutu.re"
            target="_blank"
            rel="noopener"
            >https://meet.fffutu.re</a
          >) in Form eines Widgets eingebunden.
        </li>
        <li>
          Rolle im Raum: Es gibt die Rollen Administrator, Moderator, Standard
          und „Benutzerdefiniertes Berechtigungslevel“. Über die Rolle ist u.a.
          geregelt, wer im Raum Nutzende einladen oder verbannen darf. Der
          Ersteller eines Raums hat die Rolle Administrator.
        </li>
      </ol>
      <p>
        Viele der genannten Daten können zwar Ende-zu-Ende verschlüsselt werden,
        die Metadaten (wer hat wann mit wem in welchem Raum Nachrichten
        geschrieben) werden aber unverschlüsselt auf den Servern gespeichert.
      </p>
      <p>
        Wenn sich in einem virtuellen Raum auch Nutzende fremder Homeserver
        befinden, werden die Daten auch auf deren Homeservern verarbeitet. Ob
        Nutzende in einem Raum von einem fremden Homeserver zugreifen, siehst du
        daran, dass die Matrix-ID dieser Nutzenden nicht auf „fff.chat“ endet.
        In den Einstellungen eines Raums hast du die Möglichkeit, Nutzende
        fremder Homeserver vom Raum auszuschließen. Diese Einstellung ist nach
        Aktivierung nicht mehr umkehrbar.
      </p>
      <p>
        Beachte, dass manuell hinzugefügte Widgets ggf. externe Seiten in einen
        Raum anbinden und ebenfalls Daten verarbeiten.
      </p>
      <br />
      <h3
        class="text-xl"
        id="Welche-Rechte-stehen-den-betroffenen-Personen-grundsätzlich-zu"
      >
        Welche Rechte stehen den betroffenen Personen grundsätzlich zu?
      </h3>
      <h4 class="text-lg" id="Auskunftsrecht-Art-15-DSGVO">
        Auskunftsrecht (Art. 15 DSGVO)
      </h4>
      <p>
        Die Betroffenen haben das Recht, jederzeit Auskunft über die zu ihrer
        Person verarbeiteten Daten sowie die möglichen Empfänger dieser Daten
        verlangen zu können.
      </p>
      <h4
        class="text-lg"
        id="Recht-auf-Berichtigung-Löschung-und-Einschränkung-Art-16---18-DSGVO"
      >
        Recht auf Berichtigung, Löschung und Einschränkung (Art. 16 - 18 DSGVO)
      </h4>
      <p>
        Die Betroffenen können jederzeit gegenüber uns die Berichtigung,
        Löschung ihrer personenbezogenen Daten bzw. die Einschränkung der
        Verarbeitung verlangen.
      </p>
      <h4 class="text-lg" id="Recht-auf-Datenübertragbarkeit-Art-20-DSGVO">
        Recht auf Datenübertragbarkeit (Art. 20 DSGVO)
      </h4>
      <p>
        Die Betroffenen können verlangen, dass der Verantwortliche ihre
        personenbezogenen Daten im maschinenlesbaren Format übermittelt.
      </p>
      <h4 class="text-lg" id="Beschwerderecht-Art-77-DSGVO">
        Beschwerderecht (Art. 77 DSGVO)
      </h4>
      <p>
        Betroffene Personen können sich jederzeit an die zuständige
        Aufsichtsbehörde für den Datenschutz wenden.
      </p>
    </div>
  </div>
</template>
